body {
	background: white;
	font-family: Times, serif;
}
a {
	color: #004488;
	text-decoration: none;
}
a:hover {
	color: white;
	background: #444444;
}
h1.pagetitle {
	text-align: center;
	font-size: 1.8em;
}
h2 {
	font-size: 1.3em;
	text-align: center;
}
h2.loginerror {
	color: red;
	font-weight: bold;
}
h2.message {
	color: green;
}
h3 {
	text-align: left;
	font-weight: bold;
	font-size: 1.2em;
	color: #123456; /* wow it's a colour! */
}
td {
	/*text-align: center;*/
	padding-left: 5px;
	padding-right: 5px;
}
td.tableheader {
	background: black;
	font-weight: bold;
	color: white;
}
td.tableheader a {
	color: white;
	text-decoration: underline;
}
table {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 2px outset #333333;
	background: #aaaaaa;
}

tr.list0 {
	padding: 3px 3px 3px 3px;
	background: #eeeeee;
}
tr.list1 {
	padding: 3px 3px 3px 3px;
	background: #dddddd;
}
	
#footer {
	font-size: 0.8em;
	color: #444444;
	position: relative;
	float: right;
	bottom: 2px;
	right: 10px;
	margin-top: 50px;
	text-align: right;
}
#footerlink {
	position: relative;
	float: left;
	left: 5px;
	bottom: 2px;
	font-size: 1.4em;
	margin-top: 50px
}

.errors {
	text-align: center;
	color: red;
}
tr.ok {
	background: #00ff00;
	color: black;
}
tr.err {
	background: red;
	color: white;
	font-weight: bold;
}
table.shoppinglisttable {
	/* needs to be big text and readable */
	font-size: 1.5em;
	background: white;
}
input {
	border: 1px solid #999999;
}

input.phantom {
	/* hide the fact that it's an input box */
	border: none;
	background: transparent;
	color: #070707;
}
	
#topreturnlink {
	position: absolute;
	top: 2px;
	left: 5px;
	font-size: 1.4em;
	color: #444444;
	
}

